@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

/* font-family: 'Passion One', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* font-family: 'Sriracha', cursive; */

header, a {
    background-color: black;
    color: white;

    text-align: center;
    padding: 10px;
}



header a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Passion One', cursive;
    font-weight: bold;
    font-size: 10vw;
}

section > p {
    font-family: 'Sriracha', cursive;
    font-style: italic;
    font-weight: 600;
    font-size: 3vw;

    margin-top: 70px;
    padding-left: 15px;
    margin-bottom: 70px;
}

#img01 {
    height: 100vh;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img01 p {
    color: white;
}

#img02 {
    height: 100vh;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#img02 p {
    color: white;
}

aside {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

aside a:hover {
    text-decoration: underline;
}